<div class="container login-container">
  <h1>FeedBack App</h1>
  <form class="login-form-wrapper">
      <div class="input-element-wrapper">
        <md-input-container class="input-element">
          <input mdInput type="text" placeholder="Username">
        </md-input-container>
      </div>
      <div class="input-element-wrapper">
        <md-input-container class="input-element">
          <input mdInput type="password" placeholder="Password">
        </md-input-container>
      </div>
      <div class="login-button">
        <button md-raised-button class="btn-primary">Raised button</button>
      </div>
  </form>
</div>
