*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg


# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# NodeJS and NPM
node_modules/
src/django/node_modules

*.log
*.pot
local_settings.py

django_minified
pamJSCode.js

output*/
.DS_Store
.elasticbeanstalk/
.env
*.db
*.pem
*.ppk
dev_encrypted_data_bag_secret

# Temporary files
*.swp
*.orig
src/django/pam/farms
src/django/deploy/
src/django/pam/temp/
src/django/pam/static/backup
src/django/pam/static/js/pam/min/*.min.js

src/deployTools/WinSCP.ini
src/django/cover

# Vagrant
.vagrant
src/django/pam/apps/boundaries/migrationsSQLITE/
src/django/pam/apps/workflow/migrationsSQLITE/
src/django/pam/apps/canplug/migrationsSQLITE/
src/django/pam/apps/carbon/migrationsSQLITE/
src/django/pam/apps/fieldData/migrationsSQLITE/
src/django/pam/apps/implements/migrationsSQLITE/
src/django/pam/apps/pathPlanning/migrationsSQLITE/
src/django/pam/apps/placemarks/migrationsSQLITE/
src/django/pam/apps/contacts/migrationsSQLITE/
src/django/pam/apps/rules/migrationsSQLITE/
src/django/pam/apps/violation/migrationsSQLITE/
/db_dump/db_dump.sql